.git
.gitignore
README.md
.env
.env.example
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose.yml
Dockerfile
.dockerignore
